.swiper-horizontal{
    .swiper-pagination-bullets .swiper-pagination-bullet {
        background-color: #747577;
        height: 0.375rem;
        margin: 0 0.625rem !important;
        opacity: 1;
        position: relative;
        width: 0.375rem;
    }
    .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 4px;
    }

    .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
        border: 0.0625rem solid #cbc0b6;
        border-radius: 50%;
        content: "";
        height: 1rem;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 1rem;
    }
}

.file-update-cf{
    position: relative;
    background-color: #242423;
    border: 0;
    padding: 0;
    position: relative;
    margin-bottom: 25px;
    .max-size{
        font-size: 11px!important;
        margin-right: 1rem;
        margin-top: 1rem;
        position: absolute;
        right: 0;
        top: 0;
    }
    p{
        margin-bottom: 0;
    }
    br{
        display: none;
    }
    .wpcf7-form-control-wrap{
        input{
            padding: 14px 30px;
            color: #ffffff;
            font-size: 16px;
            border: none;
        }
    }
}

.c-trustpilot-slider__slider-container{
@media (max-width: 500px){
    padding: 0 15px;
}
}